@charset "utf-8"
/*CSS Document*/





  

/*=========================
General Tag Styles
==========================*/


a {
    text-decoration: none;
}

a:link, a:visited {
    color:black;
    text-decoration: none;
}

.pagewrapper {
    margin:0px;
}

div {
    font-family: 'Raleway', sans-serif;

}

h1 {
    margin-top: 0%;
    margin-bottom: 0%;
    font-family:'Raleway', sans-serif; 
    font-size: 1.25em;
}


h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family:'Raleway', sans-serif; 
    font-size: 1em;
    line-height: 1.25em;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: .85em;
    line-height: 0px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    border-top: 2px solid #FFFFFF;
    color:#000000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
li a:hover {
    border-top: 2px solid #0065FC;
    color:#0065FC;
  }

/*=========================
Icon Styles
==========================*/

.searchmarker {
    justify-content: center;
    width:12px;

}

.money {
    width:21px;
    border-radius: 25px;
    padding:10px;
    margin-right:10px;
    background-color: #DEEBFF;
}

.family {
    width:21px;
    border-radius: 25px;
    padding-top:6px;
    padding-bottom:4px;
    padding-right: 11px;
    padding-left: 11px;
    margin-right:10px;
    background-color: #DEEBFF;
}

.heart {
    width:21px;
    border-radius: 25px;
    padding-top:10px;
    padding-bottom:7px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right:10px;
    background-color: #DEEBFF;
}

.dog {
    width:21px;
    border-radius: 25px;
    padding-top:8px;
    padding-bottom:8px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right:10px;
    background-color: #DEEBFF;
}

.infoicon {

    align-items: flex-start;
    width:21px;

}

.mostpopicon {

    width:25px;
    padding:0px;
    margin-right:10px;
}

.ratingstars {
    display: flex;
    flex-direction: row;
    background-size: 15px 15px;
    width: 15px;
}

/*=========================
Header Containers/Element Styles
==========================*/

.header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-bottom: 25px;
}
.headerInner {
    margin:2px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.mainlogocont {
    order:1;
}

.logo {
    margin-left:15px;
    width: 110px;
    padding-right: 600px;
}

.headnav {
    display: flex;
    flex-wrap: wrap;
    order:2;
}

.signuplink {
    font-weight:600;
    color: #0065FC;
    display:flex;
    flex-wrap: wrap;
    width:110px;
    justify-content: center;
    align-items: center;
    order:3;
}
    
#mobilenav {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    

/*=========================
Upper, Section 1 Containers/Element Styles
==========================*/

.section1 {
    display:flex;
    flex-wrap: wrap;
    background-color:#FFFFFF;
}

.introtext {
    font-size: 1em;
    line-height: 50%;
    padding-left:25px;
    padding-bottom: 15px;
}

.searchouterbox {
    display: flex;
}

.searchfield {
    color: #FFFFFF;
    margin-left:15px;
    justify-content: space-between;
    display:flex;
    width:275px;
    align-content: center;
    border: solid 1px rgb(228, 227, 227);
    border-radius: 12px;
    margin-bottom: 18px;;
    }

.search1 {
    display: flex;
    justify-content: center;
    width:35px;
    text-decoration-color: #FFFFFF;
    background-color: rgb(228, 227, 227);
    padding:8px 4px 4px 4px;
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;
}

.search2 {
    font-size: .85em;
    color: #0a0909;
    padding:7px;
}

.search3 {
    font-size: .85em;
    text-decoration-color: #FFFFFF;
    background-color: #0065FC;
    padding:8px;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
}

.magicon {
    display: none;
    font-size: .85em;
    text-decoration-color: #FFFFFF;
    background-color: #0065FC;
    padding:8px;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
}

.filters {
    flex-wrap: wrap;
    margin-left:15px;
    display:flex;
    justify-content: start;
    align-content: center;
}

.filterheader {
    display: flex;
    align-items: center;
}

.filterlinks {
    display:flex;
    height:38px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 25px;
    margin: 10px;
    border: solid 2px rgb(228, 227, 227);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.filterlinks:hover {
    color:#FFFFFF;
    background-color: #0065FC;
}

.infotext {
    padding-top: 5px;
    display: flex;
    margin-left:15px;
    align-items: center;
}

/*=========================
Width Percentage Styles
==========================*/

.fullwidth {
    flex-basis: 100%;
}

.halfwidth {
    flex-basis: 48%;
}

.twothirdwidth {
    display: flex;
    flex-basis: 66%;
}

.quarterwidth {
    flex-basis: 25%;
}

.onethirdwidth {
    flex-basis: 32%;
}

/*=========================
Middle, Section 2 Containers/Element Styles
==========================*/

.greybgs {
    padding: 10px;
    margin: 10px;
}

.roundcorners1 {
    border-radius: 10px;
}

.picbox_accom {
    width:240px;
    height:120px;
    border-left: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.picbox_mostpop {
    border-left: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.picbox_activ_small {
    width:300px;
    height:160px;
    border-left: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.picbox_activ_medium {
    width:300px;
    height:186px;
    border-left: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.picbox_activ_large {
    width:300px;
    height:450px;
    border-left: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.section2 {
    flex-basis: 100%;
    display:flex;
    background-color:#FFFFFF;
    margin-bottom:0px;
}

.sec2lheader {
    padding-left:30px;
    padding-top:20px;
    padding-bottom: 15px;
    display: flex;
}

.section2left {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    background-color: #F2F2F2;
}

.sec2lendtext {
    margin-left:30px;
}

.section2right {
    border-radius: 10px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    background-color: #F2F2F2;
}

.sec2rheader {
    display: flex;
    justify-content: space-between;
    height:16px;
    padding-top:20px;
    padding-left:30px;
    padding-bottom: 15px;
    flex-wrap: wrap;
}

.sec2lbox1 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin:15px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.sec2lbox2 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin:15px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.sec2lbox3 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin:15px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.sec2lbox4 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin:15px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.sec2lbox5 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin:15px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.sec2lbox6 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin:15px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.accommcap {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding:6px;
    width:228px;
    height:80px;
    border-right: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFFF;
}

.accomtext{
    display: flex;
    align-items: space-between;
    flex-wrap: wrap; 
    padding-top: 0px;
    padding-left: 4px;
}

.sec2rbox2 {
    display: flex;
    flex-wrap: wrap;
    width:338px;
    height:145px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.sec2rbox3 {
    display: flex;
    flex-wrap: wrap;
    width:338px;
    height:145px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.sec2rbox4 {
    display: flex;
    flex-wrap: wrap;
    width:338px;
    height:145px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.mostpopcap {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    padding:6px;
    width:190px;
    height:128px;
    border-right: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFFF;
}

.mostpoptext{
    display: flex;
    flex-wrap: wrap; 
    padding-left: 5px;
}

.ratingstars {
    padding-left: 4px;
}

/*=========================
Lower, Section 3 Containers/Element Styles
==========================*/

.section3 {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#FFFFFF;
    margin-bottom: 40px;
    margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
}

.sec3header {
    margin-left:25px;
    padding-bottom:0px;
    padding-top:20px;
    flex-direction: row;
    flex-wrap:wrap;
    display: flex;
}

.section3left {
    display:flex;
    flex-basis: 48%;
    justify-content: space-around;
    background-color: #FFFFFF;
}

.sec3lbox1 {
    background-color: #FFFFFF;
    margin:15px;
    width:306px;
    flex-direction: column;
    align-items: center;
    flex-basis:100%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px 4px #F2F2F2
}

.section3lbox1outer {
    display: flex;
    justify-content: center;
}

.section3rbox1outer {
    display: flex;
    justify-content: center;
}

.sec3lbox2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.sec3lbox3 {
    flex-direction: column;
    justify-content: space-between;
    display: flex; 
}

.sec3lpic2top {
    margin:16px 23px 23px 23px;
    width:306px;
    box-shadow: 0px 0px 5px 4px #F2F2F2
}

.sec3lpic3lower {
    margin:27px 23px 23px 23px;
    width:306px;
    box-shadow: 0px 0px 5px 4px #F2F2F2
}

.section3right {
    display:flex;
    flex-basis: 48%;
    justify-content: center;
    background-color: #FFFFFF;
}

.sec3rpic2top {
    margin:13px 23px 26px 23px;
    width:306px;
    box-shadow: 0px 0px 5px 4px #F2F2F2
}

.sec3rpic3lower {
    margin:19px 23px 23px 23px;
    width:306px;
    box-shadow: 0px 0px 5px 4px #F2F2F2
}

.activcap {
    padding:6px;
    width:288px;
    height:25px;
    border-right: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFFF;
}

/*=========================
Footer Containers/Element Styles
==========================*/

.footer {
    display:flex;
    padding: 30px;
    background-color: #F2F2F2;
}

.footer p {
    font-family: 'Raleway', sans-serif;
    font-size: .85em;
    line-height: 0px;
    
}

.footer h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family:'Raleway', sans-serif; 
    font-size: 1em;
    line-height: 1.75em;
}

.footerleft {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1em;
    padding: 10px;
    background-color: #F2F2F2;  
}

.footercenter {
    display:flex;
    flex-direction: column;
    font-size: 1em;
    padding: 10px;
    background-color: #F2F2F2;  
}

.footerright {
    display:flex;
    flex-direction: column;
    font-size: 1em;
    padding: 10px;
    background-color: #F2F2F2;  
}

/*=========================
Media Queries
==========================*/


@media screen and (min-width: 415px) and (max-width: 500px) {

    .headerInner{
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        margin-left:15px;
        width: 110px;
        padding-right: 100px;
    }

    .mainlogo {
        order:1;
    }

    ul {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #FFFFFF;
      }
      
    li {
        width:220px;
        float: left;
      }
      
    li a {
        display: block;
        border-top: 2px solid #FFFFFF;
        color:#000000;
        border-bottom: 2px solid #F2F2F2;
        text-align: center;
  
        text-decoration: none;
      }
      
    li a:hover {
        border-top: 2px solid #FFFFFF;
        color:#FFFFFF;
        border-bottom: 2px solid #0065FC;
        color:#0065FC;
   
      }

      .introtext {
        font-size: 1.5em;
        line-height: 50%;
        padding-left:20px;
        padding-bottom: 15px;
    }

    .searchouterbox {
        display: flex;
    }
    
    .searchfield {
        color: #FFFFFF;
        margin-left:15px;
        justify-content: space-between;
        display:flex;
        width:400px;
        align-content: center;
        border: solid 1px rgb(228, 227, 227);
        border-radius: 12px;
        margin-bottom: 28px;;
        }
    
    .search1 {
        display: flex;
        justify-content: center;
        width:45px;
        text-decoration-color: #FFFFFF;
        background-color: rgb(228, 227, 227);
        padding:3px;
        border-bottom-left-radius: 11px;
        border-top-left-radius: 11px;
    }
    
    .search2 {
        font-size: 1em;
        color: #0a0909;
        padding:12px;
    }

    .search3 {
        display: none;
        font-size: .85em;
        text-decoration-color: #FFFFFF;
        background-color: #0065FC;
        padding:8px;
        border-bottom-right-radius: 11px;
        border-top-right-radius: 11px;
    }

    .searchmarker {
        display: flex;
        justify-content: center;
        width:20px;
        padding:3px;
        justify-content: center;
    }
    
    .magicon {
        display: block;
        width:25px;
        font-size: .85em;
        text-decoration-color: #FFFFFF;
        background-color: #0065FC;
        padding:8px 12px 8px 12px;
        border-radius: 10px;
    }
    
    .headnav {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        order:3;
        }

    .signuplink {
        color: #0065FC;
        display:flex;
        flex-wrap: wrap;
        width:110px;
        justify-content: center;
        align-items: center;
        order:2;
    }

    .filterheader{
        display: flex;
        flex-basis: 100%;
        line-height: 0%;
        margin-bottom: 10px;
    }

    .filterlinks {
        margin-left: 0px;
    }

    .picbox_accom {
        width:334px;
        height:135px;
        border-left: 3px solid #FFFFFF;
        border-right: 3px solid #FFFFFF;
        border-top: 3px solid #FFFFFF;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
    }

    .accommcap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding:6px;
        width:320px;
        height:70px;
        border-right: 3px solid #FFFFFF;
        border-bottom: 3px solid #FFFFFF;
        border-left: 3px solid #FFFFFF;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #FFFFFF;
    }

    .activcap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding:6px;
        width:320px;
        height:25px;
        border-right: 3px solid #FFFFFF;
        border-bottom: 3px solid #FFFFFF;
        border-left: 3px solid #FFFFFF;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #FFFFFF;
    }

    .accomtext{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap; 
        padding-top: 0px;
    }

    .sec2rheader {
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 8px;
    }

    .mostpopicon {
        padding:0px;
        margin-right:10px;
    }
    

    .section2 {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        display:flex;
        background-color:#FFFFFF;
        margin-bottom:0px;
    }

    .sec2lheader {
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .sec2rheader {
        padding: 0px 0px 0px 10px;
        margin: 0px 0px 0px 0px;
    }
  
    .section2right {
        border-radius: 0px;
        margin-right: 0px;
        margin-left: 0px;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        background-color: #F2F2F2;
    }

    .section2left {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        background-color: #FFFFFF;
    }
    .sec2lendtext {
        display: flex;
        line-height: 0%;
        padding-top: 0px;
        margin:0px 0px 10px 25px;
    }

    .sec2rbox2 {
        display: flex;
        flex-wrap: wrap;
        margin:20px;
    }
    
    .sec2rbox3 {
        display: flex;
        flex-wrap: wrap;
        margin:20px;
    }
    
    .sec2rbox4 {
        display: flex;
        flex-wrap: wrap;
        margin:20px;
    }

    .sec3header {
        padding: 0px 0px 0px 20px;
        margin: 0px 0px 0px 0px;
        }

    .section3 {
        display: flex;
        padding-bottom: 0px;
        margin-bottom: 18px;
    }

    .sec3lbox1 {
        background-color: #FFFFFF;
        margin:15px;
        width:340px;
        flex-direction: column;
        align-items: center;
        flex-basis:100%;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }

    .sec3lbox2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
    }
    
    .sec3lbox3 {
        flex-direction: column;
        justify-content: space-between;
        display: flex; 
    }

    .sec3lpic2top {
        margin:16px 23px 5px 23px;
        width:340px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }
    
    .sec3lpic3lower {
        margin:27px 23px 18px 23px;
        width:340px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }

    .sec3rpic2top {
        margin:13px 23px 8px 23px;
        width:340px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }
    
    .sec3rpic3lower {
        margin:19px 23px 23px 23px;
        width:340px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }

    .section3left {
        flex-direction: column;
        display:flex;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .section3lbox1outer {
        display: flex;
        padding-left: 0px;
    }

    .section3right {
        display:flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .section3rbox1outer {
        display: flex;
    }

    .picbox_activ_small {
        width:334px;
        height:135px;
        border-left: 3px solid #FFFFFF;
        border-right: 3px solid #FFFFFF;
        border-top: 3px solid #FFFFFF;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
    }
    
    .picbox_activ_medium {
        width:334px;
        height:135px;
        border-left: 3px solid #FFFFFF;
        border-right: 3px solid #FFFFFF;
        border-top: 3px solid #FFFFFF;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
    }
    
    .picbox_activ_large {
        width:334px;
        height:135px;
        border-left: 3px solid #FFFFFF;
        border-right: 3px solid #FFFFFF;
        border-top: 3px solid #FFFFFF;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
    }

    .footer {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        margin: 0px;
        padding:20px 0px 0px 30px;
        background-color: #F2F2F2;
    }

    .footerleft {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .footercenter {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .footerright {
        padding-top: 10px;
        padding-bottom: 10px;
    }

  }

  @media only screen and (min-width: 701px) and (max-width: 1199px) {

    .mainlogocont {
        order:1;
    }
    
    .logo {
        margin-left:15px;
        width: 110px;
        padding-right: 20px;
    }
    
    .headnav {
        display: flex;
        flex-wrap: wrap;
        order:2;
    }
    
    .signuplink {
        font-weight:600;
        color: #0065FC;
        display:flex;
        flex-wrap: wrap;
        width:110px;
        justify-content: center;
        align-items: center;
        order:3;
    }

    .section2 {
        flex-basis: 100%;
        display:flex;
        flex-direction: column;
        background-color:#FFFFFF;
        margin-bottom:0px;
    }

    .section2right {
        border-radius: 10px;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        background-color: #F2F2F2;
        padding-bottom: 20;
    }

    .sec2rbox2 {
        display: flex;
        flex-wrap: wrap;
        width:338px;
        height:145px;
        margin: 20px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }
    
    .sec2rbox3 {
        display: flex;
        flex-wrap: wrap;
        width:338px;
        height:145px;
        margin: 20px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }
    
    .sec2rbox4 {
        display: flex;
        flex-wrap: wrap;
        width:338px;
        height:145px;
        margin: 20px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }
    
    .section3left {
        display:flex;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .section3right {
        display:flex;
        justify-content: center;
        background-color: #FFFFFF;
    }
}



  @media only screen and (min-width: 376px) and (max-width: 700px) {

    .mainlogocont {
        order:1;
    }
    
    .logo {
        margin-left:15px;
        width: 110px;
        padding-right: 70px;
    }
    
    .headnav {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: center;
        order:3;
    }
    
    .signuplink {
        font-weight:600;
        color: #0065FC;
        display:flex;
        flex-wrap: wrap;
        width:110px;
        justify-content: center;
        align-items: center;
        order:2;
    }

    .section2 {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        display:flex;
        background-color:#FFFFFF;
        margin-bottom:0px;
    }

    .section2left {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .section2right {
        flex-direction: row;
        display: flex;
        flex-wrap:wrap;
        justify-content:center;
        background-color: #F2F2F2;
    }

    .sec2rbox2 {
        display: flex;
        flex-wrap: wrap;
        margin:15px;
    }
    
    .sec2rbox3 {
        display: flex;
        flex-wrap: wrap;
        margin:15px;
    }
    
    .sec2rbox4 {
        display: flex;
        flex-wrap: wrap;
        margin:15px;
    }

  }

 
  @media screen and (max-width: 375px) {

    .headerInner{
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        margin-left:15px;
        width: 85px;
        padding-right: 5px;
    }

    .mainlogo {
        width:115px;
        order:1;
    }

    ul {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
    }

    ul {
        list-style-type: none;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        overflow: hidden;
        background-color: #FFFFFF;
      }
      
    li {
        width:180px;
        float: left;
      }
      
    li a {
        display: block;
        border-top: 2px solid #FFFFFF;
        color:#000000;
        border-bottom: 2px solid #F2F2F2;
        text-align: center;
  
        text-decoration: none;
      }
      
    li a:hover {
        border-top: 2px solid #FFFFFF;
        color:#FFFFFF;
        border-bottom: 2px solid #0065FC;
        color:#0065FC;
   
      }

      .introtext {
        display: flex;
        font-size: 1.5em;
        line-height: 1em;
        padding-left:20px;
        padding-bottom: 15px;
    }

    .introtext p {
        font-size: .75em;

    }

    .searchouterbox {
        display: flex;
    }
    
    .searchfield {
        color: #FFFFFF;
        margin-left:15px;
        justify-content: space-between;
        display:flex;
        width:330px;
        align-content: center;
        border: solid 1px rgb(228, 227, 227);
        border-radius: 12px;
        margin-bottom: 28px;;
        }
    
    .search1 {
        display: flex;
        justify-content: center;
        width:40px;
        text-decoration-color: #FFFFFF;
        background-color: rgb(228, 227, 227);
        padding:3px;
        border-bottom-left-radius: 11px;
        border-top-left-radius: 11px;
    }
    
    .search2 {
        font-size: 1em;
        color: #0a0909;
        padding:12px;
    }

    .search3 {
        display: none;
        font-size: .85em;
        text-decoration-color: #FFFFFF;
        background-color: #0065FC;
        padding:8px;
        border-bottom-right-radius: 11px;
        border-top-right-radius: 11px;
    }

    .searchmarker {
        display: flex;
        justify-content: center;
        width:15px;
        padding:3px;
        justify-content: center;
    }
    
    .magicon {
        display: block;
        width:20px;
        font-size: .85em;
        text-decoration-color: #FFFFFF;
        background-color: #0065FC;
        padding:8px 12px 8px 12px;
        border-radius: 10px;
    }
    
    .headnav {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        order:3;
        }

    .signuplink {
        color: #0065FC;
        display:flex;
        flex-wrap: wrap;
        width:110px;
        justify-content: center;
        align-items: center;
        order:2;
    }

    .filterheader{
        display: flex;
        flex-basis: 100%;
        line-height: 0%;
        margin-bottom: 0px;
    }

    .filterlinks {
        margin: 5px 5px 5px 5px;
        padding: 0px 16px 0px 0px;
    }

    .infotext {
        font-size: .85em;
        padding-top: 2px;
        padding-bottom: 8px;
        display: flex;
        margin-left:15px;
        align-items: center;
    }

    .picbox_accom {
        width:324px;
        height:135px;
        border-left: 3px solid #FFFFFF;
        border-right: 3px solid #FFFFFF;
        border-top: 3px solid #FFFFFF;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
    }

    .accommcap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding:6px;
        width:312px;
        height:70px;
        border-right: 3px solid #FFFFFF;
        border-bottom: 3px solid #FFFFFF;
        border-left: 3px solid #FFFFFF;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #FFFFFF;
    }

    .mostpopcap {
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        padding:6px;
        width:187px;
        height:128px;
        border-right: 3px solid #FFFFFF;
        border-bottom: 3px solid #FFFFFF;
        border-top: 3px solid #FFFFFF;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #FFFFFF;
    }

    .activcap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding:6px;
        width:308px;
        height:25px;
        border-right: 3px solid #FFFFFF;
        border-bottom: 3px solid #FFFFFF;
        border-left: 3px solid #FFFFFF;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #FFFFFF;
    }

    .accomtext{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap; 
        padding-top: 0px;
    }

    .greybgs {
        display: flex;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .twothirdwidth {
        display: none;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .onethirdwidth {
        display: flex;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    
    .mostpopicon {
        padding:0px;
        margin-right:10px;
    }
    
    .section2 {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        display:flex;
        background-color:#FFFFFF;
        margin: 0px 0px 0px 0px;
    }

    .sec2lheader {
        padding: 12px 0px 0px 0px;
        margin: 0px 0px 0px 24px;
    }

    .sec2lbox1 {
        display: flex;
        width: 330px;
        flex-direction: column;
        background-color: #FFFFFF;
        margin: 10px 0px 10px 0px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }
    
    .sec2lbox2 {
        display: flex;
        width: 330px;
        flex-direction: column;
        background-color: #FFFFFF;
        margin: 20px 0px 10px 0px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }
    
    .sec2lbox3 {
        display: flex;
        width: 330px;
        flex-direction: column;
        background-color: #FFFFFF;
        margin: 20px 0px 10px 0px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }
    
    .sec2lbox4 {
        display: flex;
        width: 330px;
        flex-direction: column;
        background-color: #FFFFFF;
        margin: 20px 0px 10px 0px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }
    
    .sec2lbox5 {
        display: flex;
        width: 330px;
        flex-direction: column;
        background-color: #FFFFFF;
        margin: 20px 0px 10px 0px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }
    
    .sec2lbox6 {
        display: flex;
        width: 330px;
        flex-direction: column;
        background-color: #FFFFFF;
        margin: 20px 0px 10px 0px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }

    .sec2rheader {
        padding: 12px 0px 0px 19px;
        margin: 0px 0px 0px 0px;
    }

    .mostpopicon {
        display: flex;
        width:25px;
        padding:0px;
        margin-right:22px;
    }
  
    .section2right {
        border-radius: 0px;
        margin-right: 0px;
        margin-left: 0px;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        background-color: #F2F2F2;
    }

    .section2left {
        display: flex;
        flex-wrap:wrap;
        margin-right: 0px;
        margin-left: 0px;
        justify-content: center;
        background-color: #FFFFFF;
    }
    .sec2lendtext {
        display: flex;
        align-items: flex-start;
        line-height: 1%;
        padding:0px 0px 0px 0px;
        margin:0px 0px 10px 23px;
    }

    h4 {
        margin:6px 0px 14px 0px;
    }

    .fullwidth {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;

    }

    .sec2rbox2 {
        display: flex;
        width: 335px;
        flex-wrap: wrap;
        margin:20px 10px 20px 10px;
    }
    
    .sec2rbox3 {
        display: flex;
        width: 335px;
        flex-wrap: wrap;
        margin:10px 10px 20px 10px;
    }
    
    .sec2rbox4 {
        display: flex;
        width: 335px;
        flex-wrap: wrap;
        margin:10px 10px 30px 10px;
    }

    .sec3header {
        padding: 0px 0px 0px 23px;
        margin: 0px 0px 0px 0px;
        }

    .section3 {
        display: flex;
        padding-bottom: 0px;
        margin-bottom: 18px;
    }

    .sec3lbox1 {
        background-color: #FFFFFF;
        margin:10px 0px 2px 0px;
        width:330px;
        flex-direction: column;
        align-items: center;
        flex-basis:100%;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }

    .sec3lbox2{
        display: flex;
        margin:10px 0px 10px 0px;
        width:330px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
    }
    
    .sec3lbox3 {
        flex-direction: column;
        justify-content: space-between;
        width:330px;
        display: flex; 
        margin:10px 0px 0px 0px;
    }

    .sec3lpic2top {
        margin:20px 0px 20px 0px;
        width:330px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }
    
    .sec3lpic3lower {
        margin:10px 0px 10px 0px;
        width:330px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }

    .sec3rpic2top {
        margin:20px 0px 20px 0px;
        width:330px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }
    
    .sec3rpic3lower {
        margin:10px 0px 10px 0px;
        width:330px;
        box-shadow: 0px 0px 5px 4px #dddcdc;
    }

    .section3left {
        flex-direction: column;
        display:flex;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .section3lbox1outer {
        display: flex;
        padding-left: 0px;
    }

    .section3right {
        display:flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .section3rbox1outer {
        display: flex;
    }

    .picbox_activ_small {
        width:324px;
        height:135px;
        border-left: 3px solid #FFFFFF;
        border-right: 3px solid #FFFFFF;
        border-top: 3px solid #FFFFFF;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
    }
    
    .picbox_activ_medium {
        width:324px;
        height:135px;
        border-left: 3px solid #FFFFFF;
        border-right: 3px solid #FFFFFF;
        border-top: 3px solid #FFFFFF;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
    }
    
    .picbox_activ_large {
        width:324px;
        height:135px;
        border-left: 3px solid #FFFFFF;
        border-right: 3px solid #FFFFFF;
        border-top: 3px solid #FFFFFF;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
    }

    .footer {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        margin: 0px;
        padding:20px 0px 0px 30px;
        background-color: #F2F2F2;
    }

    .footerleft {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .footercenter {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .footerright {
        padding-top: 10px;
        padding-bottom: 10px;
    }




}