@charset "utf-8"
/*CSS Document*/

body {
    color:white;
    margin:0px;
    padding:0px;
}


div {

}
  
.introtext {
    padding-left:25px;
    line-height: 50%;
}

.logo {
    margin-left:15px;
    width: 110px;
    padding-right: 800px;
}

.mainlogo {
    order:1;
}

.infoicon {
    display:flex;
    align-items: flex-start;
    width:21px;

}

.infotext {
    padding-top: 5px;
    display: flex;
    margin-left:15px;
    align-items: center;
}

.headnav {
display: flex;
flex-wrap: wrap;
order:2;
}

.searchfield {
    color: #FFFFFF;
    margin-left:15px;
    justify-content: space-between;
    display:flex;
    width:275px;
    align-content: center;
    border: solid 1px rgb(185, 185, 185);
    border-radius: 12px;
    margin-bottom: 18px;;
    }

.search1 {
        display: flex;
        justify-content: center;
        width:35px;
        text-decoration-color: #FFFFFF;
        background-color: #c2bebe;
        padding:3px;
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
    }

.searchmarker {
        display: flex;
        justify-content: center;
        width:18px;
        padding:3px;
        justify-content: center;
    }

.search2 {
        color: #0a0909;
        padding:7px;
    }

.search3 {
    text-decoration-color: #FFFFFF;
    background-color: rgb(20, 57, 219);
    padding:7px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.greybgs {
    padding: 10px;
    margin: 10px;
}

.filters {
    flex-wrap: wrap;
    margin-left:15px;
    display:flex;
    justify-content: start;
    align-content: center;
}

.filterlinks {
    display:flex;
    height:38px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 25px;
    margin: 10px;
    border: solid 2px rgb(185, 185, 185);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.money {
    width:21px;
    border-radius: 25px;
    padding:9px;
    margin-right:10px;
    background-color: #DEEBFF;
}

.dog {
    width:21px;
    border-radius: 25px;
    padding-top:8px;
    padding-bottom:8px;
    padding-right: 9px;
    padding-left: 9px;
    margin-right:10px;
    background-color: #DEEBFF;
}

.family {
    width:21px;
    border-radius: 25px;
    padding-top:6px;
    padding-bottom:4px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right:10px;
    background-color: #DEEBFF;
}

.heart {
    width:21px;
    border-radius: 25px;
    padding-top:10px;
    padding-bottom:7px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right:10px;
    background-color: #DEEBFF;
}

.mostpopicon {
    display: flex;
    width:25px;
    padding:10px;
    margin-right:10px;
}

.ratingstars {
    display: flex;
    flex-direction: row;
    width: 15px;
}

.picbox {
    border-left: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.picbox2 {
    border-left: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.picboxlower {
    border-left: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.mostpopcap {
    display: flex;
    flex-wrap: wrap;
    padding:6px;
    width:190px;
    height:128px;
    border-right: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFFF;
}

.mostpoptext{
    display: flex;
    flex-wrap: wrap; 
}

.accomtext{
    display: flex;
    flex-direction: column-reverse
    align-items: space-between;
    flex-wrap: wrap; 
    padding-top: 0px;

}

.accommcap {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding:6px;
    width:228px;
    height:80px;
    border-right: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFFF;
}

.activcap {
    padding:6px;
    width:288px;
    height:55px;
    border-right: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFFF;
}

h2 {
    margin-top: 0%;
    margin-bottom: 0%;
    font-family:'Raleway', sans-serif; 
    font-size: 1em;

}

p {
    font-family: 'Raleway', sans-serif;
    font-size: .85em;
    line-height: 0%;

}

div {
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    border-top: 2px solid #FFFFFF;
    color:#000000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    border-top: 2px solid #0065FC;
    color:#0065FC;
  }

.fullwidth {
    flex-basis: 100%;
}

.halfwidth {
    flex-basis: 48%;
}

.twothirdwidth {
    display: flex;
    flex-basis: 66%;
}

.quarterwidth {
    flex-basis: 25%;
}

.onethirdwidth {
    flex-basis: 32%;
}

.pagewrapper {
    display:flex;
    flex-wrap: wrap;
    background-color:#FFFFFF;
}

.introtext {
    font-size: 14px;
}

.header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFFFF;
}
.headerInner {
    margin:2px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.signuplink {
    color: #0065FC;
    display:flex;
    flex-wrap: wrap;
    width:110px;
    justify-content: center;
    align-items: center;
    order:3;
}

#mobilenav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbox {
    display: flex;
}

.filters {
    display: flex;
}

.section1 {
    display:flex;
    flex-wrap: wrap;
    background-color:#FFFFFF;
}

.section2 {
    flex-basis: 100%;
    display:flex;
    background-color:#FFFFFF;
    margin-bottom:0px;
}

.sec2lheader {
    padding-left:30px;
    padding-top:0px;
    display: flex;
}

.section2left {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    background-color: #F2F2F2;
}

.sec2lendtext {
    margin-left:30px;
}

.section2right {
    border-radius: 10px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    background-color: #F2F2F2;
}

.sec2rheader {
    display: flex;
    justify-content: space-between;
    height:70px;
    padding-left:30px;
    flex-wrap: wrap;
}

.sec2lbox1 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;

    margin:15px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.sec2lbox2 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;

    margin:15px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.sec2lbox3 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
 
    margin:15px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.sec2lbox4 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;

    margin:15px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.sec2lbox5 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;

    margin:15px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.sec2lbox6 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;

    margin:15px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}


.sec2rbox2 {
    width:338px;
    height:145px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.sec2rbox3 {
    width:338px;
    height:145px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.sec2rbox4 {
    width:338px;
    height:145px;
    box-shadow: 0px 0px 5px 4px #dddcdc;
}

.section3 {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#FFFFFF;
    margin-bottom: 40px;
    margin-top:5px;
}

.section3right {
    display:flex;
    flex-basis: 48%;
    justify-content: center;
    background-color: #FFFFFF;
}

.section3left {
    display:flex;
    flex-basis: 48%;
    justify-content: center;
    background-color: #FFFFFF;
}

.sec2rbox2 {
    display: flex;
    flex-wrap: wrap;
}

.sec2rbox3 {
    display: flex;
    flex-wrap: wrap;
}

.sec2rbox4 {
    display: flex;
    flex-wrap: wrap;
}

.sec3lbox1 {
    background-color: #FFFFFF;
    margin:15px;
    width:306px;
    flex-direction: column;
    flex-basis:100%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px 4px #F2F2F2
}

.sec3lbox2 {
    justify-content: center;
    flex-wrap:wrap;
    display: flex;
}

.sec3lbox3 {
    flex-direction: row;
    flex-wrap:wrap;
    display: flex; 
}

.sec3header {
    margin-left:25px;
    flex-direction: row;
    flex-wrap:wrap;
    display: flex;
}

.sec3lpic2top {
    margin:12px;
    width:306px;
    box-shadow: 0px 0px 5px 4px #F2F2F2
}

.sec3lpic3lower {
    margin:12px;
    width:306px;
    box-shadow: 0px 0px 5px 4px #F2F2F2
}

.sec3rpic2top {
    margin:12px;
    width:306px;
    box-shadow: 0px 0px 5px 4px #F2F2F2
}

.sec3rpic3lower {
    margin:12px;
    width:306px;
    box-shadow: 0px 0px 5px 4px #F2F2F2
}

.roundcorners1 {

    border-radius: 10px;
}

.footer {

    padding: 30px;
    display:flex;
    background-color: #F2F2F2;
}

.footerleft {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1em;
    padding: 30px;
    background-color: #F2F2F2;  
}

.footercenter {
    font-size: 1em;
    padding: 30px;
    display:flex;
    flex-direction: column;
    background-color: #F2F2F2;  
}

.footerright {
    font-size: 1em;
    padding: 30px;
    display:flex;
    flex-direction: column;
    background-color: #F2F2F2;  
}
  
  @media screen and (max-width: 480px) {

    .headerInner{
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        margin-left:15px;
        width: 110px;
        padding-right: 100px;
    }

    .mainlogo {
        order:1;
    }

    ul {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
    }

    .headnav {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        order:3;
        }

    .signuplink {
        color: #0065FC;
        display:flex;
        flex-wrap: wrap;
        width:110px;
        justify-content: center;
        align-items: center;
        order:2;
    }

    .filterheader{
        display: flex;
        flex-basis: 100%;
        line-height: 0%;
    }

    .section2 {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        display:flex;
        background-color:#FFFFFF;
        margin-bottom:0px;
    }
  
    .section2right {
        border-radius: 0px;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        background-color: #F2F2F2;
    }

    .section2left {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .sec2rbox2 {
        display: flex;
        flex-wrap: wrap;
        margin:20px;
    }
    
    .sec2rbox3 {
        display: flex;
        flex-wrap: wrap;
        margin:20px;
    }
    
    .sec2rbox4 {
        display: flex;
        flex-wrap: wrap;
        margin:20px;
    }

    .section3left {
        flex-direction: column;
        display:flex;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .section3right {
        display:flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .footer {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        padding-left: 40px;
        background-color: #F2F2F2;
    }


  }

  @media only screen and (max-width: 1200px) and (min-width: 700px) {


    .section3left {
        display:flex;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .section3right {
        display:flex;
        justify-content: center;
        background-color: #FFFFFF;
    }

  @media only screen and (max-width: 1200px) and (min-width: 481px) {

    .logo {
        margin-left:15px;
        width: 110px;
        padding-right: 300px;
    }
    
    .section2 {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        display:flex;
        background-color:#FFFFFF;
        margin-bottom:0px;
    }

    .section2right {
        flex-direction: row;
        display: flex;
        flex-wrap:wrap;
        justify-content:flex-start
        background-color: #F2F2F2;
    }

    .sec2rbox2 {
        display: flex;
        flex-wrap: wrap;
        margin:15px;
    }
    
    .sec2rbox3 {
        display: flex;
        flex-wrap: wrap;
        margin:15px;
    }
    
    .sec2rbox4 {
        display: flex;
        flex-wrap: wrap;
        margin:15px;
    }

  }


